{% load static %}
<!-- HEAD -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Truyện hay{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: "Palatino Linotype", "Arial", "Times New Roman", sans-serif;

        }

        div.content {
            font-size: 24px;
        }
    </style>
</head>
<!-- #END HEAD -->